.footer {
	background: #141414;
	min-height: 200px;
	padding: 18px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-top: 160px;
}

.copyright {
	color: white;
	font-size: 14px;
	line-height: 16px;
}